.product-listing-page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.product-listing-page .product-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 40px 50px 40px;
    background-color: #ffff;
}



/* Product Card */
.product-card {
    position: relative;
    width: calc(33.33% - 30px); /* Adjust width based on padding and margin */
    margin: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 3.38px 25px 0px #0000001A;

    text-align: center;
}

.product-card .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card .product-name {
    font-weight: bold;
    margin-top: 10px;
}

.product-card .product-price {
    font-size: 18px;
    font-weight: bold;
    color: #163B5C;
}

.product-card .add-to-cart {
    margin-top: 10px;
    padding: 10px 20px;
    border: solid;
    background-color: transparent;
    color: #163B5C;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px;
    border-width: 2px;
}

.product-card .add-to-cart:hover {
    background-color: #163B5C;
    color: #fff;
}
.product-listing-page .head{
    padding: 0px 0px 0px 100px;
    font-size: 32px;
    font-weight: 400;
    
}